/* Base Element Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

a { 
	color: white; 
	text-decoration: none;
}

h1, h2, h3 {
	margin-top: 0;
	color: #95E1D3;
}

ul {
	padding-bottom: 5px;
}


/* Base Layout Styles */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* Navigation */



.name {
	margin: 0;
	padding: 10px 0;
	font-size: 1.5em;
}

.main-nav {
	margin-top: 0;
	margin-bottom: 6px;
}

.main-nav li {
	text-align: center;
	border: 2px solid #EAFFD0;
	margin-top: 6px;
	margin-bottom: 6px;
	padding: .5em;

}



.main-nav a {
	font-size: .9em;
	text-transform: uppercase;
}

.main-nav a:hover {
	background-color: #F38181;
}

.name a,
.main-nav a {
	padding: 6px 6px;
	display: block;
}

/* Layout Containers */

.header-container {
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 3em;
}

.content-container {
	padding: 3em 5em;

}

.main-header {
	background: #95E1D3;
	border-bottom: 5px solid #EAFFD0;
	text-align: center;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #F38181;
	border-top: 5px solid #FCE38A;
}


/* Footer */

.main-footer {
	color: white;
}

/* Media Queries */

@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}


	.header-container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
		padding: 5px;
	}

	.name,
	.main-nav li {
		display: inline-block;
	}

	.name {
		width: 300px;
	}

	/* Columns */

	.col1, .col2 {
		float: left;
		padding-left: 1em;
		padding-right: 1em;
		border: solid red 1px;
	}

	.col1 {
		width: 60%;
	}
	.col2 {
		width: 40%;
	}

}