/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

a { 
	color: white; 
	text-decoration: none;
}

h1, h2, h3 {
	margin-top: 0;
	color: #95E1D3;
}

img {
	max-width: 100%;
}

ul {
	padding-bottom: 1em;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */


.name {
	margin: 0;
	padding: 15px 0 0 0;
	font-size: 1.5em;
}

.main-nav {
	margin-left: .5em;
}

.main-nav li {
	text-align: center;
	border: 2px solid #EAFFD0;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .5em;

}

.main-nav a {
	font-size: .9em;
	text-transform: uppercase;
}

.main-nav a:hover {
	background-color: #F38181;
}


.main-nav a {
	padding: .3em;
	display: block;
}

/* ---- Layout Containers ---- */

.header-container {
	padding-left: 0;
	padding-right: .5em;
	padding-bottom: 0;
}

.content-container {
	padding: 3em 5em;

}

.main-header {
	background: #95E1D3;
	border-bottom: 5px solid #EAFFD0;
	text-align: center;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #F38181;
	border-top: 5px solid #FCE38A;
}

/* ---- Banner ---- */

.banner {
	background-color: #8EA1F0;
	height: 20%;
	padding: .5em;
	margin: 0 auto;
}

.logo {
	max-width: 10%;
}

.logo,
.headline,
.tagline {
	margin: auto;
}

/* ---- Footer ---- */

.main-footer {
	padding: 2em 0;
	background: #F38181;
	border-top: 5px solid #FCE38A;
	color: white;
	text-align: center;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.name,
	.main-nav li {
		display: inline-block;
	}

	.name {
		width: 300px;
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-header {
		overflow: auto;
	}

	ul {
		padding: 0;
	}

	/* ---- Columns ---- */

	.col1, .col2 {
		width: 40%;
		display: inline-block;
		float: left;
		vertical-align: top;
	}

	.col2 {
		margin-left: 5em;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}