/*Base Element Styles*/

body {
	line-height: 1.6;
	color: white;
}

a { 
color: white; 
text-decoration: none;
}

h1 {
	margin-top: 0;
}

ul {
	padding-bottom: 5px;
}

/*Base Layout Styles*/

/*Navigation*/

.name {
	margin: 0;
	padding: 5px 0;
}



/*Layout Containers*/

.header-container {
	width: 70%;
	margin: 0 auto;
	padding: 5px;
}

.main-header {
	background: #95E1D3;
	border-bottom: 5px solid #EAFFD0;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #F38181;
	border-top: 5px solid #FCE38A;
}